.lg-card-container {
  width: 80%;
  margin: 0 auto;
  max-width: 40rem;
}
.lg-card-container p {
  margin: 0;
}
.weather-icon-lg {
  width: 12rem;
  height: 12rem;
}

.home-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.home-card-temp {
  font-size: 3rem;
}
.header.weather-description {
  font-size: 1.115rem;
}
.weather-description {
  font-weight: 500;
}
.sun-time {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
