.input-container {
  min-width: 18rem;
  max-width: 30rem;
  width: 40%;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.25rem;
}

.input-field {
  width: 100%;
  border: none;
  padding: 0.5rem 0;
  box-sizing: border-box;
  outline: none;
  font-size: 1.2rem;
  background: none;
}

.icon-container {
  height: 1.5rem;
  cursor: pointer;
}
